extends ../layouts/default.pug

block vars
    - var page = 'Home'

block content
    .container
        .pa-home-container
            img.img-fluid.w-100(src='images/IMG_3535.jpg')
    #main-container.pa-home-content.container
        .row.pa-home-cols
            .col-sm-4
                h4.pa-col-heading Location
                div 801 Second Street
                div Stevens Point, WI 54481
            .col-sm-4
                h4.pa-col-heading Hours
                div Monday - Thursday 3pm-close
                div Friday - Sunday 11am-close
            .col-sm-4
                h4.pa-col-heading Contact
                div Phone: 715.344.7222