extends ../layouts/default.pug

block vars
    - var page = 'Home'

block content
    .container
        .pa-home-container
            img#pa-slideshow.img-fluid.w-100(src='images/glasses.png')
    #main-container.pa-home-content.container
        .row.pa-home-cols
            .col-sm-4
                .pa-menu-item-heading Location
                .pa-special-item 801 Second Street
                .pa-special-item Stevens Point, WI 54481
            .col-sm-4
                .pa-menu-item-heading Hours
                .pa-special-item Monday - Wednesday 3pm-10pm
                .pa-special-item Thursday 3pm-Midnight
                .pa-special-item Friday - Saturday 11am-Midnight
                .pa-special-item Sunday 11am-10pm
            .col-sm-4
                .pa-menu-item-heading Contact
                .pa-special-item Phone: 715.344.7222

block scripts
    script(src='js/slideshow.js')