extends ../layouts/default.pug

block vars
    - var page = 'Specials'

block content
    #main-container.container
        .row(style='padding-bottom:25px;')
            .col-sm-12
                .pa-menu-item-heading All Day Every Day
                .pa-special-item $1.00 mystery shots
                br
                .pa-menu-item-heading Monday
                .pa-special-item 3-5pm "Happy Hour" - half off all drinks (excludes shots, pitchers, and bottles of wine)
                br
                .pa-menu-item-heading Tuesday
                .pa-special-item 3-5pm "Happy Hour" - half off all drinks (excludes shots, pitchers, and bottles of wine)
                br
                .pa-menu-item-heading Wednesday
                .pa-special-item 3-5pm "Happy Hour" - half off all drinks (excludes shots, pitchers, and bottles of wine)
                br
                .pa-menu-item-heading Thursday
                .pa-special-item 3-5pm "Happy Hour" - half off all drinks (excludes shots, pitchers, and bottles of wine)
                .pa-special-item College Night! 1/2 off rails &amp; taps w/valid student ID
                .pa-special-item 9pm - midnight $2.00 Busch taps and $10.00 towers
                br
                .pa-menu-item-heading Friday
                .pa-special-item 3-6pm $2.50 old fashioned
                .pa-special-item 9pm - midnight $2.00 Busch taps and $10.00 towers
                br
                .pa-menu-item-heading Saturday
                .pa-special-item $4.00 local brews
                .pa-special-item 9pm - midnight $2.00 Busch taps and $10.00 towers
                br
                .pa-menu-item-heading Sunday
                .pa-special-item $2.00 off cocktails on our "menu worth sippin at"
