extends ../layouts/default.pug

block vars
    - var page = 'Specials'

block content
    #main-container.container
        .row(style='padding-bottom:25px;')
            .col-sm-12
                .pa-menu-item-heading Daily
                .pa-special-item $10.00 towers (9pm-Midnight)
                .pa-special-item $2.00 Busch Light Taps (9pm-Midnight)
                br
                .pa-menu-item-heading Monday
                .pa-special-item $4.00 Craft Beer Taps
                .pa-special-item $2.50 Captain Mixers
                br
                .pa-menu-item-heading Tuesday
                .pa-special-item $1.50 Busch Light Taps
                .pa-special-item $4.00 Wine
                br
                .pa-menu-item-heading Wednesday
                .pa-special-item 1/2 off all drinks when wearing Point After gear
                br
                .pa-menu-item-heading Thursday
                .pa-special-item College Night! 1/2 off rails &amp; taps w/valid student ID
                .pa-special-item $5.00 Mules
                br
                .pa-menu-item-heading Friday
                .pa-special-item $2.50 Old Fashions (3-6pm)
                .pa-special-item $2.00 Point Special bottles (All day)
                .pa-special-item $3.00 Double Rails (9pm-close)
                br
                .pa-menu-item-heading Saturday
                .pa-special-item $2.00 "You-Call-Its" ALL DAY!
                br
                .pa-menu-item-heading Sunday
                .pa-special-item $3.00 Local booze &amp; brews
                .pa-special-item $3.00 Mimosas
                .pa-special-item $3.00 Beermosas
